{
  "presets": ["env", "react", "es2015", "stage-0"],
  // "env": {
  //   "development": {
  //     "plugins": [
  //       [
  //         "transform-runtime",
  //         {
  //           "helpers": false,
  //           "polyfill": false,
  //           "regenerator": true,
  //           "moduleName": "babel-runtime"
  //         }
  //       ]
  //     ]
  //   } 
  // }
  "plugins": ["transform-decorators-legacy"]
}